<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>

    <!-- my css -->
    <link rel="stylesheet" href="styles.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <!-- font awesom -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- moment js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <!-- vue js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div class="container" @click="closePopup">
            <div class="background-up"></div>
            <div class="box-app">
                <!-- aside -->
                <div class="aside">
                    <!-- item top -->
                    <div class="item">
                        <div class="circle">
                            <img src="imgs/spyro.jpeg" alt="">
                        </div>
                        <div class="white-space"></div>
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <i class="fa fa-comment" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                    <!-- notiche -->
                    <div class="item notification">
                        <div class="circle">
                            <i class="fa fa-bell-slash" aria-hidden="true"></i>
                        </div>
                        <div>
                            <p class="margin-b-5 color-black"><strong>Ricevi notifiche di nuovi messaggi</strong></p>
                            <p>Attiva notifiche desktop</p>
                        </div>
                    </div>
                    <!-- cerca -->
                    <div class="item text-box">
                        <input type="text" class="text" placeholder="Cerca o inizia una nuova chat"  v-model="contactToSearch" @input="searchContact()">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <i class="fa fa-times" aria-hidden="true" v-if="contactToSearch" @click="deleteText"></i>
                    </div>
                    <!-- lista contatti -->
                    <div class="container-contacts">
                        <ul>
                            <li v-for="(item, index) in searchContact()" @click="selectContact(index)" class="item"
                            :class="{selected: item === contactActive}">
                                <div class="circle">
                                    <img :src="item.avatar" alt="">
                                </div>
                                <div>
                                    <p class="margin-b-5 color-black">
                                        <strong>{{item.name}}</strong>
                                    </p>
                                    <p>
                                        {{getLastMessage(item)}}            
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- contenitore chat -->
                <div class="container-chat">
                    <!-- top -->
                    <div class="item">
                        <div class="circle">
                            <img :src="contactActive.avatar" alt="">
                        </div>
                        <div>
                            <p class="margin-b-5 color-black"><strong>{{contactActive.name}}</strong></p>
                            <p>Ultimo accesso oggi alle: {{contactActive.lastAccessContact}}</p>
                        </div>
                        <div class="white-space"></div>
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                    </div>
                    <!-- msg -->
                    <div class="chat" ref="containerChat">
                        <div v-for="(item, index) in contactActive.messages" class="clearfix">
                            <div :class="(item.status == 'sent')? 'sent' : 'received'" class="message">
                                <p>{{item.text}}</p>
                                <div class="arrow-down"></div>
                                <div class="time">{{getTimeFromString(item.date)}}</div>
                                <i class="fa fa-chevron-down" aria-hidden="true" @click.stop="showPopUp(item)"></i>
                                <div class="popup" v-if="item.statusPopUp">
                                    <ul>
                                        <li @click.stop="showInfoMessage(item)">Message info</li>
                                        <li @click="deleteMessage(item, index)">Delette message</li>
                                    </ul>
                                </div>
                                <div v-if="item.infoMessage" class="info_message">
                                    <ul>
                                        <li>Consegnato alle: '{{item.date}}'</li>
                                        <li>Testo: '{{item.text}}'</li>
                                        <li>Stato: '{{item.status}}'</li>
                                        <li>Stato-info: '{{item.infoMessage}}'</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- scive msg -->
                    <div class="item text-box">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                        <input type="text" class="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage()">
                        <div class="message_icon">
                            <i class="fa fa-paper-plane" aria-hidden="true" v-if="newMessage" @click="addMessage()"></i>
                            <i class="fa fa-microphone" aria-hidden="true" v-else></i>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="data.js"></script>
    <script src="app.js"></script>
</body>

</html>